html {
  height: 100%;
}
body {
  height: 100%
  font-family: 'Roboto Mono', monospace;
}

.container {
  border: 1px solid red;
  height: 600px;
  width: 800px;
}

#question {
  border: 1px solid orange;
  height: 100px;
  width: 95%;
}

.answer {
  border: 1px solid blue;
  height: 100px;
  width: 80%;
}
